:root {
  --choosin__width: 15em;
  --choosin__border__color: #ccc;
  --choosin__background: #fff;
  --choosin__zindex--open: 10;

  --chosen__arrow__color: currentColor;

  --choosin__dropdown__background: var(--choosin__background, #fff);
  --choosin__optionList__maxHeight: 30em;
}

.choosin,
.choosin * {
  box-sizing: border-box;
}

.choosin--hide {
  opacity: 0.5;
}

.choosin--processed {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--choosin__width, 15em);
  min-width: min-content;
  max-width: 100%;
  margin-block-end: 1em;
  border: 1px solid var(--choosin__border__color, #ccc);
  border-radius: 0.25em;
  line-height: 1.4;
  background: var(--choosin__background, #fff);
}
.choosin--processed[open] {
  z-index: var(--choosin__zindex--open, 10);
  border-radius: 0.25em 0.25em 0 0;
}
.choosin--dropUp[open] {
  border-radius: 0 0 0.25em 0.25em;
}

.choosin[class] [hidden] {
  display: none;
}

.choosin__trigger,
.csn-optionList__option {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  text-align: left;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.choosin__trigger {
  position: relative;
  width: 100%;
  margin: 0;
  padding-block: 0.25em;
  padding-inline-start: 0.5em;
  padding-inline-end: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choosin[open] .choosin__trigger {
  z-index: 1;
  box-shadow: 0 0 4px 1px #ddd;
}
/* Dropdown Arrow */
.choosin__trigger:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75em;
  display: block;
  width: 0.25em;
  height: 0.25em;
  border: 0.1875em solid transparent;
  border-width: clamp(1px, 0.125em, 0.125em);
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: var(--chosen__arrow__color, currentColor);
  border-right-color: var(--chosen__arrow__color, currentColor);
  transform: translateY(0.25em) rotate(135deg);
  transform-origin: right top;
}

.choosin__uiWrapper {
  position: absolute;
  top: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  visibility: hidden;
  background: var(--choosin__dropdown__background, var(--choosin__background, #fff));
}
.choosin[open] .choosin__uiWrapper {
  visibility: visible;
}
.choosin--dropUp .choosin__uiWrapper {
  top: auto;
  bottom: 100%;
  flex-direction: column-reverse;
}

/**
 * Search styles
 */
.csn-search {
  display: flex;
  flex-direction: column;
}

.csn-search__textField {
  margin: 0.25em;
}

/**
 * Dropdown
 */
.csn-optionList {
  position: relative;
  height: var(--js-choosin__optionList__height, auto);
  max-height: var(--choosin__optionList__maxHeight, 30em);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
}
/* .csn-optionList:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0;
    border: 1px solid rgba(0, 255, 0, 0.25);
} */

.csn-optionList__option {
  display: block;
  width: 100%;
  padding-block: 0.25em;
  padding-inline-start: 0.5em;
}

.csn-optionList__option--highlight {
  background: rgb(196, 236, 255);
}
