:root {
  --choosin__width: 15em;
  --choosin__border__color: #ccc;
  --choosin__background: #fff;
  --choosin__color: #000;
  --choosin__zindex--open: 10;

  --choosin__arrow__color: currentColor;

  --choosin__dropdown__background: var(--choosin__background);
  --choosin__optionList__maxHeight: 30em;

  --choosin__background--highlight: #c4ecff;
  --choosin__border--highlight: #2b9af3;

  /* Width is seperated so it can be used in calc */
  --choosin__search__borderWidth: 2px;
  --choosin__search__borderColor: var(--choosin__border__color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0
}

.choosin,
.choosin * {
  box-sizing: border-box;
}

.choosin--hide {
  /* opacity: 0.5; */
  display: none;
}

.choosin--processed {
  position: relative;
  display: flex;
  align-items: stretch;
  width: var(--choosin__width, 15em);
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 100%;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  border: 1px solid var(--choosin__border__color, #ccc);
  border-radius: 0.25em;
  line-height: 1.4;
  background: var(--choosin__background, #fff);
}
.choosin--processed[open] {
  z-index: var(--choosin__zindex--open, 10);
  border-radius: 0.25em 0.25em 0 0;
}
.choosin--dropUp[open] {
  border-radius: 0 0 0.25em 0.25em;
}

.choosin[class] [hidden] {
  display: none;
}

.choosin__searchBox,
.csn-optionsList__option,
.csn-search__clear {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.choosin__searchBox {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding-block: 0.25em;
  -webkit-padding-start: 0.5em;
  padding-inline-start: 0.5em;
  -webkit-padding-end: 3em;
  padding-inline-end: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choosin[open] .choosin__searchBox {
  z-index: 1;
  box-shadow: 0 0 4px 1px #ddd;
}
.choosin__searchBox:focus {
  border: 0;
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--choosin__border--highlight, #2b9af3);
}

.choosin__dropdownToggle {
  position: relative;
  width: 2em;
  border: 0;
  text-indent: -9999em; /* Hide text */
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
}
/* Dropdown Arrow */
.choosin__dropdownToggle:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  width: 0.25em;
  height: 0.25em;
  border: 0.1875em solid transparent;
  border-width: clamp(1px, 0.125em, 0.125em);
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: var(--choosin__arrow__color, currentColor);
  border-right-color: var(--choosin__arrow__color, currentColor);
  transform: translateY(0.25em) rotate(135deg);
  transform-origin: right top;
}

/* .choosin__toggle-text {} */
.choosin__toggle-text--is-open {
  display: none;
}
.choosin[open] .choosin__toggle-text--is-open {
  display: inline;
}
.choosin[open] .choosin__toggle-text--is-closed {
  display: none;
}

.choosin__optionsList {
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
  background: var(--choosin__dropdown__background, var(--choosin__background, #fff));
}
.choosin[open] .choosin__optionsList {
  display: block;
}
.choosin--dropUp .choosin__optionsList {
  top: auto;
  bottom: 100%;
}

/**
 * Search styles
 */
.csn-search {
  position: relative;
  display: flex;
  flex-direction: column;
}

.csn-search__textField {
  align-self: stretch;
  margin: 0.25em;
  padding-right: 2.25em;
  border: var(--choosin__search__borderWidth, 2px) solid var(--choosin__search__borderColor, #ccc);
  color: var(--choosin__color, #000);
  font-size: 12px;
}
.csn-search__textField:focus {
  outline: 0;
  border-color: var(--choosin__border--highlight, #2b9af3);
}

.csn-search__clear {
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  bottom: 0.375em;
  width: 2em;
}
.csn-search__clear:hover,
.csn-search__clear:focus{
  background: var(--choosin__background--highlight, #c4ecff);
}
.csn-search__clear:focus{
  border: 0;
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--choosin__border--highlight, #2b9af3);
}
/* Clear X Icon */
.csn-search__clear:before,
.csn-search__clear:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2px;
  height: 40%;
  background: currentColor;
}
.csn-search__clear:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.csn-search__clear:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/**
 * Dropdown
 */
.csn-optionsList {
  position: absolute;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  /* Respect max-height from JS, then the non-JS variable */
  max-height: var(
    --js-choosin__optionList__maxHeight,
    var(
      --choosin__optionList__maxHeight,
      30em
    )
  );
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
}
/*
.csn-optionsList:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 0;
    border: 1px solid rgba(0, 255, 0, 0.25);
}
*/

.csn-optionsList__option {
  display: block;
  width: 100%;
  padding-block: 0.25em;
  -webkit-padding-start: 0.5em;
          padding-inline-start: 0.5em;
}

.csn-optionsList__option--highlight {
  background: var(--choosin__background--highlight, #c4ecff);
}
