:root {
  --choosin__width: 15em;
  --choosin__border__color: #ccc;
  --choosin__background: #fff;
  --choosin__zindex--open: 10;

  --chosen__arrow__color: #aaa;

  --choosin__dropdown__background: #fff;
}

.choosin,
.choosin * {
  box-sizing: border-box;
}

.choosin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--choosin__width, 15em);
  min-width: min-content;
  max-width: 100%;
  margin-block-end: 1em;
  border: 1px solid var(--choosin__border__color, #ccc);
  border-radius: 0.25em;
  line-height: 1.4;
  background: var(--choosin__background, #fff);
}

.choosin[open] {
  z-index: var(--choosin__zindex--open, 10);
  border-radius: 0.25em 0.25em 0 0;
}

.choosin[class] [hidden] {
  display: none;
}

.choosin__trigger,
.csn-optionList__option {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  text-align: left;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.choosin__trigger {
  position: relative;
  width: 100%;
  margin: 0;
  padding-block: 0.25em;
  padding-inline-start: 0.5em;
  padding-inline-end: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choosin__trigger:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75em;
  display: block;
  width: 0.125em;
  height: 0.125em;
  border: 0.1875em solid transparent;
  border-width: clamp(1px, 0.125em, 0.125em);
  border-top-color: var(--chosen__arrow__color, #aaa);
  border-right-color: var(--chosen__arrow__color, #aaa);
  transform: translateY(0.25em) rotate(135deg);
  transform-origin: right top;
}

.choosin__uiWrapper {
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
  flex-direction: column;
  background: var(--choosin__dropdown__background, #fff);
}
.choosin[open] .choosin__uiWrapper {
  display: flex;
}

/**
 * Search styles
 */
.csn-search {
  display: flex;
  flex-direction: column;
}

.csn-search__textField {
  margin: 0.25em;
}

/**
 * Dropdown
 */
.csn-optionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.csn-optionList__option {
  display: block;
  width: 100%;
  padding-block: 0.25em;
  padding-inline-start: 0.5em;
}

.csn-optionList__option--highlight {
  background: rgb(196, 236, 255);
}
